::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

/* Arrow buttons (remove them) */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.profile-calendar-container {
  display: flex;
  border: none;
  flex-direction: column;
  gap: 1.5rem;
  padding: 16px;
  height: 100%;
  box-shadow: none;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d293d;
  background-color: #ddebfe;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  .profile-info {
    display: flex;
    gap: .2rem;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
    h2 {
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.content-container {
  width: 100%;
  gap: 1rem;
  display: flex;
  max-width: 280px;
  flex-direction: column;
}

hr {
  border-color: #90a1b91c;
  background: #90a1b91c;
}

.divider {
  width: 1px;
  height: 100%;
  margin: 0 16px;
  border: 1px solid #90a1b945;
}

.calendar-section {
  height: 100%;
}

.calendar-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.calendar-container {
  width: 100%;

  table .fc-col-header {
    width: 100% !important;
  }

  table .fc-scrollgrid-sync-table {
    width: 100%;
  }
}

.fc-daygrid-body {
  width: 100% !important;
}

.calendar-container table .fc-scrollgrid-sync-table {
  width: 100% !important;
}

p {
  margin: 0;
  padding: .8rem;
}

.staff-calendar-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;

  .event-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    overflow: hidden;
    user-select: none;
    position: relative;

    .event-actions {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    p {
      font-size: 12px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: translateY(-1px);
    }

    svg {
      flex-shrink: 0;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .fc-direction-ltr {
    height: calc(100% - 87px) !important;
  }

  .fc-col-header {
    width: 100% !important;
  }

  .fc-scroller {
    overflow: none;
    padding-right: 10px;

    .fc-daygrid-body-unbalanced {
      width: 100% !important;

      table {
        width: 100% !important;
      }
    }
  }

  .bg-null {
    background: none;
  }

  .event {
    padding: 4px;
    text-transform: capitalize;
    border: solid;
    position: relative;
    overflow: hidden;

    .fc-event-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
    }

    &.highlight::before,
    &.highlight::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 12px;
      background-color: rgb(56, 56, 56);
      transform: rotate(45deg);
    }

    &.highlight::before {
      left: -9px;
      bottom: -9px;
    }

    &.highlight::after {
      right: -9px;
      top: -9px;
    }

    &.invalid-date {
      position: relative;
      border: 1px dashed #888888 !important;
      opacity: 0.7;
      filter: grayscale(30%);
    }
  }

  .staffs {
    width: 32%;
    margin-right: 3%;
    height: inherit;
    overflow-y: auto;
    margin-bottom: auto;
    text-transform: capitalize;

    div {
      border-bottom: 1px solid #dddddd;
      display: flex;
      align-items: center;
      min-height: 32px;
      margin: 4px;
      padding-left: 8px;
      transition: all 0.3s;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.staff-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  &:hover {
    overflow: auto;
  }

  .staff-container {
    gap: 0.5rem;
    padding: 0 8px 0 0;
    max-height: 100%;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    display: flex;
    flex-direction: column;
  }

  input {
    width: 100%;
    outline: none;
    border: 1px solid #d1d5db;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
    border-radius: 8px;

    &:hover {
      border-color: #06b6d4;
    }
  }

  .search-wrapper {
    position: relative;
    width: 100%;
  }

  .search-wrapper .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
  }

  .staff {
    min-height: 52px;
    padding: 10px 10px 10px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-left: 4px solid #fff;
    border-radius: 8px;
    text-transform: capitalize;
    cursor: pointer;

    .circle {
      font-weight: 500;
      font-size: 12px;
    }

    &:hover {
      background: #f5f4f5 !important;
    }

    p {
      font-size: 14px;
    }
  }
}


.highlightedPair {
  content: "";
  border-bottom: 5px solid rgba(194, 6, 138, 0.5) !important;
}

// Modal Styles

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  animation: fadeInScale 0.3s ease;

  .modal-title {
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    justify-content: space-between;
    border-bottom: 1px solid;
  }

  h2 {
    margin: 0;
  }

  div {
    p {
      padding: 0 0 0 1.5rem;
    }
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem 1.5rem;

  button {
    margin-top: 16px;
    background-color: #ff5757;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
  }
}